<!DOCTYPE html>

<html>

<head>

<title>DevOps Control Center</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="sidebar">

<h2>🚀 DevOps</h2>

<a href="/">Dashboard</a>

<a href="/status">Server Status</a>

<a href="/deploy">Deploy</a>

<a href="/logs">Logs</a>

<a href="/docker">Docker</a>

</div>

<div class="main">

<h1>DevOps Control Center</h1>

<br>

<div class="cards">

<div class="card">

<h3>Hostname</h3>

<p>{{ hostname }}</p>

</div>

<div class="card">

<h3>Current Time</h3>

<p>{{ current_time }}</p>

</div>

<div class="card">

<h3>Git Branch</h3>

<p>{{ branch }}</p>

</div>

<div class="card">

<h3>Latest Commit</h3>

<p>{{ commit }}</p>

</div>

</div>

</div>

</body>

</html>