<!DOCTYPE html>

<html>

<head>

    <title>DevOps Control Center</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

    <div class="sidebar">

        <h2>🚀 DevOps</h2>

        <a href="/">🏠 Dashboard</a>

        <a href="/status">🖥 Server Status</a>

        <a href="/deploy">🚀 Deploy</a>

        <a href="/logs">📄 Logs</a>

        <a href="/docker">🐳 Docker</a>

        <a href="/health" target="_blank">❤️ Health API</a>

        <a href="/logout">🚪 Logout</a>

    </div>

    <div class="main">

        <h1>🚀 DevOps Control Center</h1>

        <p>Welcome <b>{{ username }}</b></p>

        <br>

        <div class="cards">

            <div class="card">

                <h3>🖥 Hostname</h3>

                <p>{{ hostname }}</p>

            </div>

            <div class="card">

                <h3>🕒 Current Time</h3>

                <p>{{ current_time }}</p>

            </div>

            <div class="card">

                <h3>🌿 Git Branch</h3>

                <p>{{ branch }}</p>

            </div>

            <div class="card">

                <h3>📌 Latest Commit</h3>

                <p>{{ commit }}</p>

            </div>

            <div class="card">

                <h3>🐳 Docker</h3>

                <p>Manage Docker Containers</p>

                <a href="/docker">
                    <button class="btn">Open</button>
                </a>

            </div>

            <div class="card">

                <h3>🖥 Server Status</h3>

                <p>Monitor CPU, RAM and Disk</p>

                <a href="/status">
                    <button class="btn">Open</button>
                </a>

            </div>

            <div class="card">

                <h3>🚀 Deploy</h3>

                <p>Run Deployment</p>

                <a href="/deploy">
                    <button class="btn">Open</button>
                </a>

            </div>

            <div class="card">

                <h3>❤️ Health Check</h3>

                <p>Verify Application Status</p>

                <a href="/health" target="_blank">
                    <button class="btn">Check</button>
                </a>

            </div>

        </div>

    </div>
<script>

setTimeout(function(){

    location.reload();

},5000);

</script>
</body>

</html>